# Observed Trends
    1) Males make up over 80% of players and contribute over 81% of total revenue.
    2) Players at least 40 years old made the fewest purchases, but have the highest normalized total; players age
        20-24 contribute over 43% of total revenue.
    3) The "Retribution Axe" is the item with the most revenue ($37.26) and was purchased 9 times in this sample.

In [1]:
import pandas as pd
import numpy as np

In [2]:
purchases_df = pd.read_json("purchase_data.json")

In [3]:
#len(purchases_df)

In [4]:
#purchases_df.head()

In [5]:
purchases2_df = pd.read_json("purchase_data2.json")

In [6]:
#len(purchases2_df)

In [7]:
#purchases2_df.head()

In [8]:
all_purchases = [purchases_df, purchases2_df]
#all_purchases

In [9]:
all_purchases_df = pd.concat(all_purchases)
#all_purchases_df

# Player Count

In [10]:
total_number_purchases = len(all_purchases_df)
total_number_purchases

858

In [11]:
#unique = all_purchases_df["SN"].unique()
#len(unique)
player_counts = pd.DataFrame(all_purchases_df["SN"].value_counts())
len(player_counts)

612

In [12]:
SN_Gender = pd.DataFrame(all_purchases_df[["SN", "Gender"]])
SN_Gender["SN_Gender"] = SN_Gender["SN"].map(str) + "_" + SN_Gender["Gender"]
unique_sn_gender = pd.DataFrame(SN_Gender["SN_Gender"].unique(), columns=["SN_Gender"])
unique_sn_gender["Gender"] = unique_sn_gender["SN_Gender"].str.split('_').str[1]

#total_number_players = len(player_counts)
total_number_players = len(unique_sn_gender)
total_number_players

619

In [13]:
total_number_players = pd.DataFrame([total_number_players], columns=["Total Players"])
total_number_players

   Total Players
0            619

# Purchasing Analysis (Total)

In [14]:
#unique = all_purchases_df["Item ID"].unique()
#len(unique)
item_counts = all_purchases_df["Item ID"].value_counts()
unique_items_count = len(item_counts)
unique_items_count

184

In [15]:
total_revenue = round(all_purchases_df["Price"].sum(), 2)
total_revenue_dollars = "$"+str(total_revenue)
total_revenue_dollars

'$2514.43'

In [16]:
avg_purchase_price = round(total_revenue / total_number_purchases, 2)
avg_purchase_price_dollars = "$"+str(avg_purchase_price)
avg_purchase_price_dollars

'$2.93'

In [17]:
purchasing_analysis_total = pd.DataFrame([unique_items_count], columns=["Number of Unique Items"])
purchasing_analysis_total["Average Price"] = avg_purchase_price_dollars
purchasing_analysis_total["Number of Purchases"] = total_number_purchases
purchasing_analysis_total["Total Revenue"] = total_revenue_dollars
purchasing_analysis_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     184         $2.93                  858      $2514.43

# Gender Demographics

In [18]:
#SN_Gender = pd.DataFrame(all_purchases_df[["SN", "Gender"]])
#SN_Gender["SN_Gender"] = SN_Gender["SN"].map(str) + "_" + SN_Gender["Gender"]
#del SN_Gender["SN"]
#del SN_Gender["Gender"]
#SN_Gender
#unique_sn_gender = pd.DataFrame(SN_Gender["SN_Gender"].unique(), columns=["SN_Gender"])
#len(unique_sn_gender)
#unique_sn_gender["Gender"] = unique_sn_gender["SN_Gender"].str.split('_').str[1]
#unique_sn_gender

In [19]:
gender_count = unique_sn_gender["Gender"].value_counts()
gender_count_df = pd.DataFrame({"Total Count": gender_count})
gender_count_df["Gender"] = unique_sn_gender["Gender"].unique()
#gender_count_df

In [20]:
total_number_players = len(unique_sn_gender)
gender_percent = round((gender_count / total_number_players)*100, 2)
gender_percent_df = pd.DataFrame({"Percentage of Players": gender_percent})
gender_percent_df["Gender"] = unique_sn_gender["Gender"].unique()
#gender_percent_df

In [21]:
genders_df = pd.DataFrame(unique_sn_gender["Gender"].unique(), columns=["Gender"])
#genders_df

In [22]:
gender_demographics_df = pd.merge(gender_percent_df, gender_count_df, on='Gender')
#gender_demographics_df

In [23]:
gender_demo_df = pd.merge(genders_df, gender_demographics_df)
#gender_demo_df.set_index('Gender', inplace=True)
gender_demo_df

                  Gender  Percentage of Players  Total Count
0                   Male                  80.45          498
1                 Female                  18.09          112
2  Other / Non-Disclosed                   1.45            9

# Purchasing Analysis (Gender)

In [24]:
purchase_count_gender = all_purchases_df["Gender"].value_counts()
#purchase_count_gender

In [25]:
revenue_gender = all_purchases_df.groupby('Gender')
revenue_gender = revenue_gender["Price"].sum()
#revenue_gender

In [26]:
avg_price_gender = round(revenue_gender / purchase_count_gender, 2)
#avg_price_gender

In [27]:
avg_normprice_gender = round(revenue_gender / gender_count, 2)
#avg_normprice_gender

In [28]:
purchasing_analysis_gender = pd.DataFrame()
purchasing_analysis_gender["Purchase Count"] = purchase_count_gender
purchasing_analysis_gender["Average Purchase Price"] = avg_price_gender
purchasing_analysis_gender["Total Purchase Value"] = revenue_gender
purchasing_analysis_gender["Normalized Totals"] = avg_normprice_gender
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Male,697,2.94,2052.28,4.12
Female,149,2.85,424.29,3.79
Other / Non-Disclosed,12,3.15,37.86,4.21

# Age Demographics

In [29]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 400000]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [30]:
all_purchases_df["Age_Group"] = pd.cut(all_purchases_df["Age"], bins, right = False, labels=group_names)
#all_purchases_df

In [31]:
#unique_sn_df = pd.DataFrame(all_purchases_df["SN"].unique(), columns=["SN"])
#unique_sn_df = unique_sn_df.join(all_purchases_df["Age_Group"])
#unique_sn_df

In [32]:
SN_Age_Group = pd.DataFrame(all_purchases_df[["SN", "Age_Group"]])
SN_Age_Group["Age_Group"] = SN_Age_Group["Age_Group"].astype(str)
SN_Age_Group["SN_Age_Group"] = SN_Age_Group["SN"].map(str) + "_" + SN_Age_Group["Age_Group"]
#del SN_Age_Group["SN"]
#del SN_Age_Group["Age_Group"]
#SN_Age_Group
unique_SN_Age_Group = pd.DataFrame(SN_Age_Group["SN_Age_Group"].unique(), columns=["SN_Age_Group"])
#len(unique_SN_Age_Group)
unique_SN_Age_Group["Age_Group"] = unique_SN_Age_Group["SN_Age_Group"].str.split('_').str[1]
#unique_SN_Age_Group

In [33]:
age_count = unique_SN_Age_Group["Age_Group"].value_counts()
age_count

20-24    283
15-19    110
25-29     94
30-34     53
35-39     33
10-14     25
<10       24
40+       12
Name: Age_Group, dtype: int64

In [34]:
purchase_count_age = all_purchases_df["Age_Group"].value_counts()
revenue_age = all_purchases_df.groupby('Age_Group')
revenue_age = revenue_age["Price"].sum()
avg_price_age = round(revenue_age / purchase_count_age, 2)
avg_normprice_age = round(revenue_age / age_count, 2)

In [35]:
purchasing_analysis_age = pd.DataFrame()
purchasing_analysis_age["Purchase Count"] = purchase_count_age
purchasing_analysis_age["Average Purchase Price"] = avg_price_age
purchasing_analysis_age["Total Purchase Value"] = revenue_age
purchasing_analysis_age["Normalized Totals"] = avg_normprice_age
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
20-24,372,2.92,1087.66,3.84
15-19,144,2.89,416.83,3.79
25-29,134,2.96,396.44,4.22
30-34,71,2.97,211.14,3.98
35-39,48,2.93,140.77,4.27
10-14,38,2.79,105.91,4.24
<10,33,2.95,97.28,4.05
40+,18,3.24,58.40,4.87

# Top Spenders

In [36]:
sn_spend = all_purchases_df.groupby('SN')
sn_spend = sn_spend["Price"].sum()
sn_spend_df = pd.DataFrame(sn_spend)
sn_spend_df = sn_spend_df.sort_values(by="Price", ascending=False)
sn_spend_df.columns = ['Total Purchase Value']
sn_spend_df.head()

               Total Purchase Value
SN
Undirrala66                   17.06
Aerithllora36                 15.10
Saedue76                      13.56
Sondim43                      13.02
Mindimnya67                   12.74

In [37]:
purchase_count_sn = all_purchases_df["SN"].value_counts()
revenue_sn = sn_spend_df['Total Purchase Value']
avg_price_sn = round(revenue_sn / purchase_count_sn, 2)

In [38]:
sn_value_df = pd.DataFrame()
sn_value_df['Purchase Count'] = purchase_count_sn
sn_value_df['Average Purchase Price'] = avg_price_sn
sn_value_df['Total Purchase Value'] = sn_spend_df['Total Purchase Value']
sn_value_df = sn_value_df.sort_values(by="Total Purchase Value", ascending=False)
sn_value_df.head()

               Purchase Count  Average Purchase Price  Total Purchase Value
Undirrala66                 5                    3.41                 17.06
Aerithllora36               4                    3.78                 15.10
Saedue76                    4                    3.39                 13.56
Sondim43                    4                    3.26                 13.02
Mindimnya67                 4                    3.18                 12.74

# Most Popular Items

In [39]:
items = pd.DataFrame()
items["Item Name Count"] = all_purchases_df["Item Name"].value_counts()
items.head(10)

                                           Item Name Count
Final Critic                                            14
Arcane Gem                                              12
Stormcaller                                             12
Betrayal, Whisper of Grieving Widows                    11
Crucifer                                                10
Trickster                                               10
Retribution Axe                                          9
Extraction, Quickblade Of Trembling Hands                9
Feral Katana                                             9
Woeful Adamantite Claymore                               9

In [40]:
item_IDs = pd.DataFrame()
item_IDs['Item ID Count'] = all_purchases_df['Item ID'].value_counts()
#item_IDs = item_IDs.sort_values(by='Item ID Count', ascending=False)
item_IDs.head(10)

     Item ID Count
84              12
39              11
31              10
34               9
44               9
13               9
107              9
175              9
108              9
154              9

In [41]:
pop_items = all_purchases_df.groupby(["Item ID", "Item Name"]).agg({'Price': ['mean', 'count', 'sum']}).rename(columns={'mean': 'Item Price', 'count': 'Purchase Count', 'sum': 'Total Purchase Value'})
pop_items.columns = pop_items.columns.droplevel()
pop_items = pop_items.nlargest(5, 'Purchase Count')
pop_items

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
84,Arcane Gem,2.445,12,29.34
39,"Betrayal, Whisper of Grieving Widows",2.350,11,25.85
31,Trickster,2.322,10,23.22
13,Serenity,1.490,9,13.41
34,Retribution Axe,4.140,9,37.26

# Most Profitable Items

In [42]:
profit_items = all_purchases_df.groupby(["Item ID", "Item Name"]).agg({'Price': ['mean', 'count', 'sum']}).rename(columns={'mean': 'Item Price', 'count': 'Purchase Count', 'sum': 'Total Purchase Value'})
profit_items.columns = profit_items.columns.droplevel()
profit_items = profit_items.nlargest(5, 'Total Purchase Value')
profit_items

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,4.140,9,37.26
107,"Splitter, Foe Of Subtlety",3.670,9,33.03
115,Spectral Diamond Doomblade,4.250,7,29.75
32,Orenmir,4.950,6,29.70
84,Arcane Gem,2.445,12,29.34